.contact {

  h2 {
    font-size: 56px;
    font-family: 'MonstserratBold';
  }

  .map-container {
    @media (max-width:768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .map {
      position: relative;
      width: 100%;
      height: 38vw;

      h3 {
        font-family: 'MonstserratBold';
        font-size: 1.6vw;

        @media (max-width:768px) {
          font-size: 32px;
        }

        @media (max-width:375px) {
          font-size: 20px;
        }
      }

      &-info {
        background-color: #fff;
        position: absolute;
        top: 230px;
        left: 14%;
        z-index: 10;
        padding: 2.9vw;
        width: 28vw;
        height: 32vw;

        @media (max-width:768px) {
          margin-top: 32px;
          position: static;
          background-color: #FAFAFA;
          width: 100%;
          height: 562px;
          padding: 40px 24px;
        }

        @media (max-width:375px) {
          padding: 16px;
        }

        &-main {
          margin-top: 1.6vw;
          display: flex;
          flex-direction: column;

          .main-item {
            margin-top: 1.25vw;
            font-size: 0.83vw;
            color: $main-color-text;
            display: flex;
            justify-content: space-between;

            .icon-box {
              border: 1px solid #D9D9D9;
              background-color: #fff;
              height: 56px;
              width: 56px;

              .svg-copy-dims {
                height: 24px;
                width: 24px;
              }

              .svg-copy-dims path {
                stroke: $second-color-text;
              }

            }

            .icon-box:hover {
              border: 1px solid $green-color;

              .svg-copy-dims path {
                stroke: $green-color;
              }
            }

            .tel {
              display: flex;
              flex-direction: column;

              &-value {
                font-family: 'MonstserratBold';
              }

              &-info {
                color: $second-color-text;
              }
            }

            .mail {
              &-value {
                font-family: 'MonstserratBold';
              }

              &-time {
                color: $second-color-text;
              }

            }

            .adress {
              &-header {
                font-family: 'MonstserratBold';
              }

              &-value {
                color: $second-color-text;
              }
            }

            .timework {
              &-header {
                font-family: 'MonstserratBold';
              }

              &-value {
                color: $second-color-text;
              }
            }
          }
        }

        &-footer {
          margin-top: 3.2vw;
          display: flex;
          justify-content: space-between;

          @media (max-width:375px) {
            flex-direction: column
          }

          a {
            font-size: 0.83vw;
            text-decoration: none;
            width: 10.6vw;
            height: 2.9vw;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media (max-width:768px) {
              width: 40vw;
              height: 56px;
              font-size: 16px;
            }

            @media (max-width:375px) {
              width: 100%;
            }
          }

          .order-tel {
            background-color: #00A55A;
            color: #fff;

            svg {
              height: 0.93vw;
              width: 0.93vw;

              @media (max-width:768px) {
                height: 18px;
                width: 18px;
              }
            }

            @media (max-width:375px) {
              margin-top: 32px;
            }
          }

          .icon-box {
            background-color: #E5F6EE;
            color: #00A55A;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
              height: 2.9vw;
              width: 2.9vw;

              @media (max-width:768px) {
                height: 56px;
                width: 56px;
              }
            }
          }
        }
      }

      &-place {
        position: absolute;
        display: flex;
        top: 230px;
        right: 14%;
        z-index: 10;
        font-size: 0.73vw;
        color: $second-color-text;
        background-color: #fff;
        padding: 1.6vw 1.6vw 1.6vw 3.75vw;
        width: 33vw;
        height: 5.4vw;

        @media (max-width:768px) {
          margin-top: 32px;
          position: static;
          background-color: #FAFAFA;
          width: 100%;
        }

        svg {
          height: 1.25vw;
          width: 1.25vw;
        }

        p {
          margin-left: 0.83vw;
        }
      }

      canvas {
        filter: grayscale(1);
      }


    }
  }
}